// Colors

$_primary: #4bb20c;
$_npm: #b10c1e;
$_font-basic: #252521;
$_border: #c1c1c1;

// Media Query
$breakpoint: 720px;

$sp: unquote('max-width: #{$breakpoint - 1px}');
$pc: unquote('min-width: #{$breakpoint}');

// Fonts
$font-family: Ronde-B-Square, sans-serif;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
